.admin_msg{
    padding: 40px 5vw;
    padding-left: 100px;
}
.admin_msg .msg_sec{
    border-bottom: 2px solid hsl(140, 77%, 38%);
    margin-bottom: 20px;
}
.admin_msg .msg_sec .heading{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.admin_msg .msg_sec .msg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: hsl(140, 77%, 38%);
    border: 2px solid hsl(140, 77%, 48%);
    margin-bottom: 20px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.admin_msg .msg_sec.read_msgs .heading{
    margin-top: 60px;
}
.admin_msg .msg_sec.read_msgs .msg{
    background-color: white;
    color: black;
    position: relative;
}
.admin_msg .msg_sec .msg:hover{
    transform: scale(1.005);
    box-shadow: hsla(140, 77%, 38%, 0.3) 0px 3px 8px;
}
.admin_msg .msg_sec.read_msgs .msg .delete{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(40px, -50%);
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(255,8,0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin_msg .no_new_msgs{
    height: 150px;
    border-radius: 5px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: hsl(140, 77%, 28%);
    border: 2px dashed hsl(140, 77%, 38%);
}