.adminOrd{
    padding: 20px 5vw;
    padding-left: 100px;
}
.adminOrd .orders > .heading{
    font-size: 28px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
}
.adminOrd .orders > .heading:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 70%;
    background-color: hsl(140, 77%, 38%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: heading 1.5s ease-in-out infinite;
}
.adminOrd .order_item{
    border: 2px solid hsl(140, 77%, 28%);
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    background-color: hsl(140, 77%, 38%);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.adminOrd .order_item:hover{
    box-shadow: hsla(140, 77%, 38%, 0.69) 0px 5px 15px;
    transform: scale(1.01);
}
.adminOrd .order_item span{
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
}
.adminOrd .order_item .field{
    margin-bottom: 10px;
}